$ms-context-menu-primaryColor: $ms-color-themePrimary !default;
$ms-context-menu-hoverColor: $ms-color-gray20 !default;
$ms-context-menu-bgColor: #FFF !default;
$ms-context-menu-color: $ms-color-gray160 !default;

.ms-contextMenu {
  background-color: $ms-context-menu-bgColor;
  display: table;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ms-contextMenuItem {
  display: table-row;
  cursor: pointer;
  height: 32px;
  color: $ms-context-menu-color;

  &:hover {
    background-color: $ms-context-menu-hoverColor;
  }

  & * {
    display: table-cell;
    vertical-align: middle;
  }

  &.ms-disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

.ms-contextMenu.selectable {

}

.ms-contextMenuItem-toggle {
  color: $ms-context-menu-primaryColor;
  width: 32px;
  text-align: center;
  display: none;
  opacity: 0;
  transform: rotate(90deg) scale(0);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;

  .ms-contextMenuItem.ms-checked & {
    opacity: 1;
    transform: rotate(0) scale(1);
  }

  .ms-contextMenu.selectable & {
    display: table-cell;
  }
}

.ms-contextMenuItem-content {
  line-height: 32px;
  vertical-align: center;
  padding: 0 8px;
  min-width: 72px;
  margin: 0;
}

.ms-contextMenuItem-secondaryText {
  opacity: 0.9;
  font-size: 12px;
  padding: 0 10px;
  line-height: 32px;
}
.ms-contextMenuItem-icon {
  color: $ms-context-menu-primaryColor;
  font-size: 16px;
}
.ms-contextMenuItem-icon, .ms-contextMenuItem-secondaryIcon {
  width: 32px;
  line-height: 32px;
  text-align: center;
  vertical-align: center;
  padding-top: 2px;
}
