.ms-loader {
  display: block;
  //border:1px solid $ms-color-blue;
  height: 50px;
  width: 50px;
  position: relative;
}

.ms-loader-circle {
  display: inline-block;
  position: absolute;
  width: 38px;
  height: 38px;
  opacity: 0;
  transform: rotate(225deg) ;
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-duration: 5.5s;

  top: 6px;
  left: 6px;

  &:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background: $ms-color-blue;
    box-shadow: 0 0 9px rgba(255, 255, 255, .7);
  }
}


@keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }
  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }
  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }
  76% {
    transform: rotate(945deg);
    opacity: 0;
  }
  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
