$ms-toggle-borderColor: $ms-formField-borderColor !default;
$ms-toggle-activeColor: $ms-formField-activeColor !default;
$ms-toggle-thumbColor: $ms-formField-borderColor !default;
$ms-toggle-activeThumbColor: rgb(255, 255, 255) !default;

.ms-toggle {
  display: inline-block;
  box-sizing: border-box;

  &:focus{
    outline: transparent;
  }

  &:hover {
    filter: brightness(1.1);
  }
}

.ms-toggle-layout {
  outline: transparent;
  position: relative;
  box-sizing: border-box;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  transition: all 0.1s ease 0s;
  border: 2px solid $ms-toggle-borderColor;
  cursor: pointer;
  background-color: transparent;

  display: flex;
  align-items: center;
  padding: 0 3px;

  .ms-toggle.ms-disabled &{
    border-color: transparent;
    background-color: $ms-color-gray50;
  }

  .ms-toggle.ms-checked &{
    border-color: transparent;
    background-color: $ms-toggle-activeColor;

  }
}

.ms-toggle-thumb {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  background-color: $ms-toggle-thumbColor;
  border-color: transparent;
  border-width: 6px;
  border-style: solid;
  box-sizing: border-box;


  .ms-toggle.ms-checked & {
    background-color: $ms-toggle-activeThumbColor;
    transform: translate3d(20px, 0, 0);
  }
}
