<div style="display: flex">
  <div style="height: 100vh; overflow: auto">
    <MsRibbonMenu style="width: 240px;">
      <a title="Button" MsRibbonMenuItem routerLink="/button">Button</a>
      <a title="Form field" MsRibbonMenuItem routerLink="/form-field">Form field</a>
      <a title="Label" MsRibbonMenuItem routerLink="/label">Label</a>
      <a title="Toggle" MsRibbonMenuItem routerLink="/toggle" icon="toggle_left">Toggle</a>
      <a  MsTitle="Radio" MsRibbonMenuItem routerLink="/radio" icon="radio_button" iconStyle="filled">Radio</a>
      <a MsTitle="Checkbox" MsRibbonMenuItem routerLink="/checkbox" icon="checkbox_checked" iconStyle="regular">Checkbox</a>

      <a MsTitle="Suggest" MsRibbonMenuItem routerLink="/suggest" icon="search">Suggest</a>
      <a MsTitle="Select" MsRibbonMenuItem routerLink="/select" icon="multiselect">Select</a>
      <a MsTitle="Picker" MsRibbonMenuItem routerLink="/picker" >Picker</a>

      <a MsRibbonMenuItem routerLink="/grid" icon="grid">Grid</a>
      <a MsRibbonMenuItem routerLink="/table" icon="table">Table</a>
      <a MsRibbonMenuItem routerLink="/paginator" icon="page" iconStyle="filled">Paginator</a>
      <a MsRibbonMenuItem routerLink="/collection-slide" icon="slide_grid">Collection slide</a>
      <a MsRibbonMenuItem routerLink="/selection" icon="multiselect">Selection</a>

      <a MsRibbonMenuItem routerLink="/pivot">Pivot</a>
      <a MsRibbonMenuItem routerLink="/context-menu">Context menu</a>
      <a MsRibbonMenuItem routerLink="/ribbon-menu">Ribbon menu</a>
      <a MsRibbonMenuItem routerLink="/action-menu">Action menu</a>


      <a MsRibbonMenuItem routerLink="/dialog">Dialog</a>
      <a MsRibbonMenuItem routerLink="/toast">Toast</a>
      <a icon="tooltip-quote" MsRibbonMenuItem routerLink="/tooltip">Tooltip</a>
      <a MsRibbonMenuItem routerLink="/dropdown">Dropdown</a>

      <a MsRibbonMenuItem routerLink="/alert" icon="alert">Alert</a>
      <a MsRibbonMenuItem routerLink="/persona" icon="person">Persona</a>
      <a MsRibbonMenuItem routerLink="/loader">Loader</a>
      <a MsRibbonMenuItem routerLink="/spinner" icon="spinner-ios">Spinner</a>
      <a MsRibbonMenuItem routerLink="/stepper">Stepper</a>

      <a MsRibbonMenuItem routerLink="/description-list">Description list</a>



    </MsRibbonMenu>
  </div>

  <div style="padding: 16px">
    <router-outlet></router-outlet>
  </div>
</div>


