/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';
@import "components/styles/fluent";

.my-3 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.checkbox-layout, .radio-layout {
  display: flex;
  align-items: center;

  & MsLabel {
    margin-left: 8px;
  }

  &.label-before MsLabel{
    margin-right: 8px;
    margin-left: 0;
  }
}
